@charset "utf-8";
/* CSS Document */

body
{
	-webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
	background-color:#383a3b;
	text-align:center;
	color:white;
	font-family:Verdana, Arial, Helvetica, sans-serif;;	
}


.app
{
	border: white 1px solid;
	width:480px;
	margin-left:auto;
	margin-right:auto;
}



.slideContent
{
	width:400px;
	height:100px;
	background-color:#3498db;
	margin-left:auto;
	margin-right:auto;
	margin-top:0px;
	
}

#slidesContainer
{
	height:100px;
	margin-left:auto;
	margin-right:auto;


}




