@charset "utf-8";
/* CSS Document */




body
{
	-webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
	background-color:#383a3b;
	text-align:center;
	color:white;
	font-family:Verdana, Arial, Helvetica, sans-serif;;	
}


.app
{
	border: white 1px solid;
	width:520px;
	margin-left:auto;
	margin-right:auto;
	height:800px;
}



.topTabs
{
	height:100px;
}



.topTabs button
{
	padding:0px;
	margin:1px;
	background-color:#383a3b;
	border-style:none;
}

/* New Stuff */
#topNav
{
	width:600px;
	margin-left:auto;
	margin-right:auto;
}

#topNav a
{
	padding:0px;
	
}



